<h2>Professors Filtered by Number of Students in Descending Order</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Number of students</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let professor of professors; index as i">
      <td>
        <strong>{{ i + 1 }}</strong>
      </td>
      <td>{{ professor.profFirstName }}</td>
      <td>{{ professor.profLastName }}</td>
      <td>{{ professor.numStudents }}</td>
      <td>
        <button (click)="professorDetails(professor.id)" class="btn btn-info">
          View
        </button>
      </td>
    </tr>
  </tbody>
</table>
